body {
    font-family: sans-serif;
    }
    
    #Box {
    font-size: 50px;
    font-family: sans-serif;
    
    text-align: left;
    
    text-align: right;
    text-align: center;
    
    text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;
    text-decoration: none;
    
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;
    
    text-shadow: 5px -5px 10px rgb(0, 119, 255);
    
    color: red;
    background-color: black;
    }
    
    #Content {
    font-size: 60px;
    background-color: teal;
    color: white;
    text-align: center;
    
    /* Box Model: */
    
    border-color: red;
    border-width: 5px;
    border-style: solid;
    
    border: 4px solid green;
    border: solid 4px green;
    border: solid yellow 4px;
    
    border: none;
    
    /* Margins: */
    
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    
    /* All */
    margin: 10px;
    
    /* t-b l-r */
    margin: 10px 20px;
    
    
    /* t l-r b */
    margin: 10px 20px 40px;
    
    /* t r b l */
    margin: 10px 20px 30px 40px;
    
    /* Only For Div */
    margin: 100px auto;
    width: 250px;
    
    
    /* Padding: */
    /* All */
    padding: 10px;
    
    /* t-b l-r */
    padding: 10px 20px;
    
    
    /* t l-r b */
    padding: 10px 20px 40px;
    
    /* t r b l */
    padding: 10px 20px 30px 40px;
    
    padding: 30px;
    
    }
    
    
    #View
    {
    height: 400px;
    width: 400px;
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 50px auto;
    
    border: 2px solid black;
    
    background-image: url(https://asset.gecdesigns.com/img/wallpapers/beautiful-fantasy-wallpaper-ultra-hd-wallpaper-4k-sr10012418-1706506236698-cover.webp);
    background-size: cover;
    background-repeat: no-repeat;
    
    
    }
    
    
    #Item1
    {
    height: 150px;
    width: 150px;
    background-color: black;
    color: white;
    }
    
    
    #Item2
    {
    height: 150px;
    width: 150px;
    background-color: teal;
    color: white;
    }
